
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
   --color-primary: #2F4550;    /* Slate blue-gray */
  --color-secondary: #586F7C;  /* Muted steel */
  --color-accent: #B8DBD9;     /* Soft teal */
  --color-neutral: #f4f4f4;    /* Light paper */
  --color-base-100: #ffffff;   /* Pure white */
}

@plugin "daisyui/theme" {
  name: "dark";
   --color-primary: #A9BCD0;    /* Soft slate */
  --color-secondary: #3B3B3B;  /* Steely black */
  --color-accent: #669BBC;     /* Cool blue accent */
  --color-neutral: #1c1c1c;    /* Matte charcoal */
  --color-base-100: #252525;   /* Modern black */
}
.btn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

*{

  font-family: "Noto Serif", serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
}
